.purchase-complete-container {
  padding: 80px 0;
  text-align: center;

  h1 {
    margin-bottom: 60px;
  }
  
  button {
    padding: 15px 25px;
    font-size: 1rem;
    color: #fff;
    background-color: royalblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}